dist: bionic
language: python
python:
    - 3.8
env:
  global:
    - OWNER=${TRAVIS_REPO_SLUG%/*}
git:
  depth: false
before_install:
  - git tag
install:
  - sudo apt-get -y install libsecp256k1-0
  - pip install -r contrib/requirements/requirements-travis.txt
cache:
  - pip: true
  - directories:
    - /tmp/electrum-build
script:
    - tox
after_success:
    - coveralls
jobs:
  include:
    - if: branch = slack_ci
      name: "Native Android build"
      services:
        - docker
      install:
        - while sleep 60; do echo "=====[ $SECONDS seconds still running ]====="; done &
        - sudo docker pull lightningcn/electrum_env:latest
      script:
        # Output something every minute or Travis kills the job
        - while sleep 60; do echo "=====[ $SECONDS seconds still running ]====="; done &
        - sudo docker run --rm -it --name electrum-android-native-builder-cont -v $PWD:/data 
          --workdir=/data/android lightningcn/electrum_env:latest /bin/bash -c 
          'cp debug.keystore ~/.android/debug.keystore && /data/android/gradlew app:assembleDebug'
        # kill background sleep loop
        - kill %1
        - ls -la android/app/build/outputs/apk/RegTest/debug
        - if [ $(ls android/app/build/outputs/apk/RegTest/debug/ | grep -c bixin-*) -eq 0 ]; then exit 1; fi
      after_success: true 

branches:
  except:
    - travis-build

notifications:
  slack:
    rooms:
      secure: 2Qcy20O3c9oN13YJ6HEOhPClYJj+zfnzPcRUeNdLzQsT2scUTwgOAwxN5kfXNWCZyfHOTtKIG5h2wJJVNXXl2zdazNHJJCQ4mRMlchr+TijmdfFWUHjwwPbRXdD4yDYLdVu9HF78acPs90BfDTjL+GEqyVjk2VydCNaS9YoIGo+qSBY3hluvE+52zDuFd0spEOVAti1MaedGqTO5tsyrOzsmigJXBhN/z0W+wd6xG7cLw06TIpvjv0l0mr25N1I5Z0lk5Dwer1UG8iPSdnKGBqEDqk2PV/zBzw/co56t7oRV1M4u5/WhPb9WaItlNAblGDcZGtuEwzdwhvyCFdgWm9CR6DCLEwgDq43ZNyvpRmO065Qt0kNndAFLr5yqm9zk2rf6y6rX9qbuesoRJeaRBHtXKQSDEAwoBRln83f2IY9fFBs2rJkJQ1MUuDnMIQvhSZ1mvCQlRr8eFw58PZvoRR/fZQGrV8KKEu5Z20BRyMQCW8ir05Uq9Bh86TDglszjUXAHgSd/XDiZSbDdeyj1gwHAn4ouc32tXk3wv90hlDYbR+TT1Zvp2GrcG7ipv37FD5woLXPTNov+f3B7Lw+s3xf94leXw3bHjryUJgkOQYXpqOrVEY+zUoJBlQvIvxNvqO5pmlXVLRcsXyCjMAq/PvYB2JebXlzL9cYsHH4Zo14=
  on_success: change  # change: send a notification when the build status changes.
  on_failure: always  # always: always send a notification.
